<div class="container" id="home">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card shadow p-3 mb-5 bg-white rounded p-5">
        <form action="/goals/updateGoal?id={{goal._id}}" method="POST">
          <h5 class="modal-title" id="updateGoalModalLabel">Update Goal</h5>
          <div class="form-group">
            <input type="text" class="form-control" name="title" aria-describedby="emailHelp"
              placeholder="What do you want to achive?" value={{goal.title}}>
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" name="startDate" value={{startDateModified}}>
          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" class="form-control" name="endDate" value={{endDateModified}}>
          </div>
          {{!-- <div class="form-group" id="goalType">
            <label for="type">Goal Type</label><br>
            <label class="radio-inline"><input type="radio" name="type" value="personal"> Personal</label>
            <label class="radio-inline"><input type="radio" name="type" value="professional"> Professional</label>
          </div> --}}
          <div class="form-group">
            <label for="endDate">Goal Category</label>
            <select name="category" class="custom-select">
              <option selected>{{goal.category}}</option>
              <option>Health</option>
              <option>Family</option>
              <option>Career</option>
              <option>Education</option>
              <option>Lifestyle</option>
              <option>Career</option>
              <option>Finance</option>
              <option>Spirituality</option>
              <option>Friends</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>