<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<link rel = "stylesheet" href= "/../../stylesheets/overview.css">
{{> create}}

<div class="container-fluid p-3">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 text-left">
						<div class="ml-3">
              <span class="float-left">
                <h4><label id="lblGreetings"></label> {{user.firstName}}!</h4>
                <h6 class="card-subtitle mb-3 text-muted">Today is <span class="weekday-label"></span>, <span class="day-label"></span> <span class="month-label"></span></h6>
                <a href="#" data-toggle="modal" data-target="#addGoalModal"><button type="button" class="btn btn-outline-primary">Track a new goal</button></a>
              </span>
              <span class="mr-3 float-right">
                <img src="{{user.profilePicture.path}}" alt="Profile picture thumbnail" width="125" height="125" style="border-radius: 50%;" />
              </span>
            </div>
				</div>
				<div class="col-md-6">
          <div class="card shadow p-3 mb-5 bg-white rounded m-3">
            <div class="card-body">
              <p id="quote">Random motivational quote goes here</p>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>
			<div class="row">
				<div class="col-md-6">
          <div class="card shadow p-3 mb-5 bg-white rounded m-3">
            <h5 class="card-title">
              This month's goals
            </h5>
            <ul class="list-group list-group-flush">
              {{#each goals}}
                {{#if this.isCurrentMonth}}
                  <li class="list-group-item">
                      <span class="float-left"><a href="/goals/detail?id={{goal._id}}">{{this.title}}</a></span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:{{this.percentCompletion}}%;" aria-valuenow="{{this.percentCompletion}}" aria-valuemin="0" \
                          aria-valuemax="100">{{this.percentCompletion}}%</div>
                      </div>
                      <span class="float-right">Due: {{this.dueDate}}</span>
                  </li>
                {{/if}}
              {{/each}}

            </ul>
          </div>
				</div>
				<div class="col-md-6">
          <div class="card shadow p-3 mb-5 bg-white rounded m-3">
            <h5 class="card-title">
              Upcoming goals
            </h5>
            <ul class="list-group list-group-flush">
              {{#each goals}}
                {{#if this.isUpcoming}}
                  <li class="list-group-item">
                      <span class="float-left"><a href="/goals/detail?id={{goal._id}}">{{this.title}}</a></span>
                      <br>
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:{{this.percentCompletion}}%;" aria-valuenow="{{this.percentCompletion}}" aria-valuemin="0" \
                          aria-valuemax="100">{{this.percentCompletion}}%</div>
                      </div>
                      <span class="float-right">Due: {{this.dueDate}}</span>
                  </li>
                {{/if}}
              {{/each}}
            </ul>
          </div>
				</div>
			</div>
      <div class="row">

      </div>
		</div>
	</div>
</div>


<!-- Time based greetings -->
<script>
  let myDate = new Date();
  let hrs = myDate.getHours();
  let greet;

  if (hrs < 12) {
    greet = 'Good Morning'
    } else if (hrs >= 12 && hrs <= 17) {
      greet = 'Good Afternoon'
    } else if (hrs >= 17 && hrs <= 24) {
      greet = 'Good Evening'};

  document.getElementById('lblGreetings').innerHTML = greet;
</script> 

<!-- Header's date script -->
<script>
  let date = new Date();
  let day = date.getDate();
  let year = date.getFullYear();
  let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  let dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
  let monthLabel = document.getElementsByClassName('month-label')[0].innerHTML = monthNames[date.getMonth()];
  let dayLabel = document.getElementsByClassName("day-label")[0].innerHTML = day;
  let weekdayLabel = document.getElementsByClassName("weekday-label")[0].innerHTML = dayNames[date.getDay(0)];
</script>

