<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Profile</title>
</head>
<body>

<section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>


<form action="/users/user-profile" method="POST">
    <p>First Name:</p>
    <input type="text" name="firstName" value="{{upload.firstName}}" />

    <p>Last Name:</p>
    <input type="text" name="lastName" value="{{upload.lastName}}" />

    <p>Email ID:</p>
    <input type="email" name="email" value="{{upload.email}}" />

    <p>Date of Birth:</p>
    <input type="date" name="dateOfbirth" value="{{upload.dateOfBirth}}" />

    <p>Address :</p>
    <input type="text" name="address" value="{{upload.address}}" />

    <p>Occupation :</p>
   <input type="text" name="occupation" value="{{upload.occupation}}" />

    <p>Hobbies :</p>
    <input type="text" name="hobbies" value="{{upload.hobbies}}" />
    <button type="submit"> Update</button>
    <br>  
</form>
</body>
</html>