<div class="card shadow p-3 mb-5 bg-white rounded" id="goal-card">
  <div class="card-body">
    <div class="card-header-box">
      <h5>{{this.title}}</h5>
      <a id="updateBtn" href="#" data-goalId="{{this._id}}"><i class="far fa-edit"></i></a>
      <a id="deleteBtn" href="#" data-goalId="{{this._id}}"><i class="far fa-trash-alt"></i></a>
    </div>
    <hr>
    <span class="category">{{this.category}}</span>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width:{{this.percentCompletion}}%;"
        aria-valuenow="{{this.percentCompletion}}" aria-valuemin="0" \ aria-valuemax="100">{{this.percentCompletion}}%
         completed</div>
    </div>
  </div>
  <div class="card-footer">
    <i class="far  fa-calendar-check fa-lg"></i><em>{{this.dueDate}}</em>
  </div>
</div>

